<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.application.HochschuleUlm">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.HochschuleUlm">

        <activity
            android:name=".Activities.Room.RoomDetails"
            android:screenOrientation="portrait"
            android:exported="true" />

        <activity
            android:name=".Activities.Person.PersonDetails"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.DiscussionActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MapActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.InfoActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.LibraryActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Mensa.MealActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Room.RoomActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.MainActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Person.PersonActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Timetable.TimeActivity"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Timetable.Timetable"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Mensa.MensaOffers"
            android:exported="true"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Activities.Splash"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>